*{box-sizing: border-box;}

html, body 
{ background: #00F028;
font-family: Helvetica;
line-height: 1.6;
color: #222;
max-width: 72ch;
margin: 0 auto;
padding: 10; }

@media (min-width: 700px)
{
	body {padding: 2rem;}
	form {max-width: 600px;}
}
